.form{
    border: 1px solid #c0c0c0;
    border-radius: .4rem;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    row-gap: 2rem;

    .title{
        text-align: left;
        color: #3e3e3e;
        font-size: 1.2rem;
        margin: 0;
        margin-bottom: 1rem;
    }
    .content{
        display: flex;
        flex-direction: column;
        row-gap: 2rem;
        .large__input{
            width: 100%;
        }
    }
    .grouped__selects{
        display: flex;
        justify-content: space-between;
        @media screen and (max-width: 700px) {
        flex-direction: column;
        }
        gap: 3rem;
        .small__select{
            width: 100% !important;
        }
    }

    .groups__buttons{
        display: flex;
        justify-content: flex-end;
        gap: 2rem;
    }
}
