.formuser {
  margin-top: 4rem;
  background-color: inherit;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  width: 30rem;

  height: auto;
  gap: 2rem;
}
.indez {
  z-index: 99;
}
h2 {
  color: #000;
  position: absolute;
  top: -2.5rem;
  font-size: 1rem;
  text-align: center;
}
.disclemer {
  grid-column: 1/3;
}
.container {
  max-width: 30rem;
  margin: 2rem auto 0;
  padding: 0 2rem;
  background: rgba(255, 255, 255, 0.4);
  border: #0000004e 1px solid;

  .buttons {
    display: block;
    margin-top: 1rem;
    margin-bottom: 1.1rem;
  }
}
.rangee {
  width: 100%;
}
.div__junta {
  grid-column: 1/3;
}
