.rangee {
  text-align: left;
}

.index{
  background-color: white;
  padding: 0 .2rem !important;
}

.success{
  border-bottom: 2px solid green;
}

.warning{
  border-bottom: 2px solid  yellow;
}

.error{
  border-bottom: 2px solid  red;
}
