.multiple__select {
  max-width: 100%;
  margin: 0 auto;
}
.alerta {
  display: flex;
  align-items: center;
  width: 90%;
  max-width: 90%;
  gap: 2rem;
  justify-content: space-between;
}
.alerta-container {
  margin-bottom: 3rem;
}
